certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cx-Oracle==7.0.0
django==3.1.7
dj-database-url==0.5.0
gunicorn==20.0.4
psycopg2-binary==2.8.6
idna==2.10
pdfminer.six==20181108
python-dateutil==2.8.1
pytz==2021.1
requests==2.24.0
six==1.15.0
sortedcontainers==2.1.0
spark-parser==1.8.9
uncompyle6==3.7.4
urllib3==1.25.10
utils==1.0.1
whitenoise==5.2.0
xdis==5.0.7
